*{
	margin:0;
	padding: 0;
	font-family: arial;
}

html{
	background: url('../images/fruits-background.jpg') no-repeat center 70% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	margin: 10px;
}

.ico{
	background-image: url('../images/icon-medium-fruits.png');
	width: 35px;
	height: 35px;
	float: left;
	margin-right: 10px;
	bottom:7px;
	position: relative
}

#main_wrapper{
	//border: 1px solid red;
	width: 800px;
	margin: 0 auto;
}

.total{
	color: #ffdddd;
}

#results_wrapper{
	//border: 1px solid red;
	width: 800px;
	margin: 0 auto;
}

.product{
	background: #73c837;
	border-radius: 5px;
	margin: 5px;
	color: #fff;
	padding: 5px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.38);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.38);
}

.number{
	width: 20px;
	float: right;
	color: #fff;
	font-weight: bold;
	border: 1px solid #fff;
	text-align: center;
	height: 20px;
	border-radius: 10px;
}

.remove_row{
	float: right;
	margin-right: 20px;
}

#controls{
	text-align: center;
	width: 780px;
	margin: 0 auto;
}

.result{
	background: #51a615;
	border-radius: 5px;
	margin: 5px;
	color: #fff;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.38);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.38);
}

.prod_list{
	width: 150px;+
}

.weight{
	width: 70px;
}