*{
	margin:0;
	padding: 0;
	font-family: arial;
}

html{
	background: url('../images/fruits-background.jpg') no-repeat center 70% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	margin: 10px;
}

#main_wrapper{
	//border: 1px solid red;
	width: 800px;
	margin: 0 auto;
}

#results_wrapper{
	//border: 1px solid red;
	width: 800px;
	margin: 0 auto;
}

.product{
	background: #CC6600;
	border-radius: 5px;
	margin: 5px;
	color: #fff;
	padding: 5px;
}

.number{
	width: 20px;
	float: right;
	color: #fff;
	font-weight: bold;
}

.remove_row{
	float: right;
	margin-right: 20px;
}

#controls{
	text-align: center;
}

.result{
	background: #CC6600;
	border-radius: 5px;
	margin: 5px;
	color: #fff;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

.prod_list{
	width: 150px;+
}

.weight{
	width: 70px;
}